.header {
    margin-top: 40px;
}

.nav {
    display: flex;
    padding-left: 530px;
}

.header a {

    text-decoration: none;
    margin: 20px;
}

.header a:hover {
    color: orange;
    font-weight: 700;
}