.home-container {
    display: flex;
    margin: 30px;

}

.half-width {
    width: 47%;
}

.heading {
    margin-top: 50px;

}

.heading h1 {
    font-size: 50px;
    font-weight: 700;
}

.heading p {
    text-align: left;
    font-size: large;
}

.heading button {
    background-color: aqua;
    color: white;
    font-size: large;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

.half-width img {
    width: 100%;
    padding: 40px;

}

.show-review {
    margin: 70px 0;

}

.home-review-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 30px;

}